<html>
<head>
<title> Customs Application For Post Modification </title>
<style>
table, th, td, tr {
 border: ;
 border-collapse: collapse;
}
label{

}
</style>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  

</head> 

<body style="background-color:#f5f3f2;" class="container">
<br>
<h1>Customs Online Request For Post Modification Guide</h1><br><br>
<%= link_to 'Home', root_path %><br><br>

<h3>USER ACCOUNTS</h3>
<ul>
<li>Temporary Email Account Receiving Emails<br> Email Address: bellcus00@gmail.com; Password: belizecustoms (This is a test email account that I created, which will be replaced with trade@customs.gov.bz after testing )</li>
<li>A Username and Password will be created for each Broker. Test Broker User Login: jj@gmail.com, pass123</li>
<li>There are Three types of Users, Super Admins, Admins & Brokers. Your username is your customs email alias and pwd is pass123.</li>
</ul>

<h3>CREATING A REQUEST FOR POST MODIFICATION</h3>
<ul>
<li>A Post Modification request can only be created by a Broker. </li>
<li>If the user who logs in is a Super Admin or Admin they will NOT be able to access Sections I and II. They will only be able to access Section III.</li>
<li>If the user who logs in is a Broker they will NOT be able to access Section section III. They will only be able to access section I and II.
<li>The following fields must be present when broker is creating a request for post modification:
	<ul>
	<li>Entry Number and Office Code cannot be blank</li>
	<li>Ammendmen fee Receipt will only be accesible when "Approved " from Official Use Section is true, i.e. only if the request has been approved
 can edit their request for post modification respective to the information provided in the Official Use Section on the Request form.</li>
	</ul>
</li>
</li>
</ul>
<h3>ADMINISTRATION EDITING (Approve/Deny) A REQUEST</h3>
<ul>
<li>When Administration is filling out their section, if they choose Denied or Additional Information, and Admin Reason must be present for the form to be edited.</li>
<li>Ammendment Cost To be paid must be present if Administration chooses Approved when editing the request.</li>
<li>Approved must be present if Administration chooses Recorded when editing the form.</li>
<li>When Administration chooses Recorded the Request is no longer available to anyone.</li>
</ul>

</body>
</html>
	