<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Request for Post Modification has arrived. Please see summary of details. Entry Number is: <%= @postmod.entrynum %></h1>
    <p>
      The person making the request is: <%= @postmod.user_id %>.<br>
    </p>
    <p>
      To login to the site for approval/denial, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>