<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>New Request for Post Modification has arrived. Please see summary of details.</h3> <br> 
    <p>
      <h5>Entry Number: <%= @postmod.entrynum %>
   
      The person issuing the notification is: <%= @postmod.username %>.<br>
     

    </h5>
    </p>
    <p>
      To login to the site for approval/denial, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>